*::selection {
  background: #212529;
  color: #fff;
}
*::placeholder {
  color: #212529;
}
* {
  font-family: "Arvo", serif;
}
.white {
  color: #fff;
}
.rotated {
  transform: rotate(45deg);
}
.big {
  transform: scale(2);
}
.big-home {
  transform: scale(1.5);
}
.btn:hover {
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.22);
  transition: all 1s ease;
}
.btn:not(:hover) {
  transition: all 1s ease;
}
.nav-link:hover {
  font-weight: bold;
  transition: all 0.8s ease;
}
.nav-link:hover i {
  font-size: 1.5rem;
  transition: all 0.8s ease;
}
.nav-link::not(:hover) {
  transition: all 1s ease;
}
.nav-link:not(:hover)i {
  font-size: 1.5rem;
  transition: all 0.8s ease;
}
.active {
  font-size: 1.1rem;
  font-weight: bold;
}
.active img {
  height: 70px;
  height: 70px;
}
.link-dark,
.link-light {
  text-decoration: none;
}
.link-dark:hover,
.link-light:hover {
  text-decoration: underline;
  transition: all 0.3 ease;
}
